<header ng-include="'/views/partials/header.html'"></header>

<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <p id="pWelcome" class="lead">Logged In: {{uc.userObject.userName}}</p>

<div class="leftColumn" layout="row">
    <div flex="15" class="sideBar">
       
    </div>
    <div flex="80" class="box1">
    
        <h1>Technologies Used:</h1>
        <ul style="list-style-type:square" id="aboutList">
            <li>-PostgreSQL</li>
            <br>
            <li>-Express</li>
            <br>
            <li>-AngularJS</li>
            <br>
            <li>-Node.js</li>
            <br>
            <li>-Filestack</li>
            <br>
            <li>-Angular Material</li>
        </ul>
    
        </div>
    </div>
  



            </div>
        </div>
    </div>