<header ng-include="'/views/partials/header.html'"></header>

<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <p id="pWelcome" class="lead">Logged In: {{uc.userObject.userName}}</p>

<div class="leftColumn" layout="row">
    <div flex="15" class="sideBar">
       
    </div>
    <div flex="80" class="box1">
    
        <h1>Technologies Used:</h1>
        <div class = "listOfTech">
            <h2>   PostgreSQL</h2>
          <h2>Express</h2>
            <h2>AngularJS</h2>
            <h2>Node.js</h2>
            <h2>Filestack</h2>
            <h2>Angular Material</h2>
       
    </div>
        </div>
    </div>
  



            </div>
        </div>
    </div>