<md-dialog class="attendDialog" id="attendDialog" aria-label="Attendance Pop Up">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>Enter Attendance</h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ac.cancel()">
                <i class="material-icons" md-dialog-close aria-label="Close dialog">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content id="attendance Content">
        <div class="md-dialog-content">
            <md-datepicker ng-model="ac.attendanceStatus.date"> </md-datepicker>

            <md-card class="attendance" ng-repeat="gymnast in ac.gymnasts.data track by $index">
                <md-card-header>
                    <md-card-header-text>
                        <span layout="row" class="md-subhead">{{gymnast.name}}
                            <md-radio-group class="attendanceRadios" layout="row" ng-model="gymnast.selected" ng-change="ac.presentStatus(gymnast.gymnast_id, gymnast.selected, ac.attendanceStatus.date)">
                                <md-radio-button aria label="present" value="Present" class="md-primary">Present</md-radio-button>
                                <md-radio-button aria label="absent" value="Absent"> Absent </md-radio-button>
                                <md-radio-button aria label="late" value="Late">Late</md-radio-button>
                                <md-radio-button aria label="Left Early" value="Left Early">Left Early</md-radio-button>
                                <md-radio-button aria label="N/A" value="N/A">N/A</md-radio-button>
                            </md-radio-group>
                        </span>
                    </md-card-header-text>
                </md-card-header>
            </md-card>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="acDiagAct" layout="row">
        <md-button ng-click="ac.cancel()">
            Cancel
        </md-button>
        <span flex></span>
        <md-button class="md-raised" type="submit" name="submit" value="submit" ng-click="ac.save()">
            Save
        </md-button>
    </md-dialog-actions>

    </form>
</md-dialog>