<md-dialog class="imageDialog" aria-label="Mango (Fruit)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <!-- <h3>Subject: Re: {{rc.messageSubject}}</h3> -->
                <span flex></span>
                <md-button class="md-icon-button" ng-click="img.cancel()">
                    <i class="material-icons" md-dialog-close aria-label="Close dialog">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                
<img ng-src="{{img.pictureUrl}}">
</div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>

            <md-button ng-click="img.ok()">
                Ok
            </md-button>
        </md-dialog-actions>
</md-dialog>