<header ng-include="'/views/partials/header.html'"></header>
<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

  <p id="pWelcome" class="lead">Welcome, {{uc.userObject.userName}}!</p>
</div>
<!-- <div layout-gt-xl = "row" class = "athleteTable">
  
  <table>
    <th>Date Received</th>
    <th>From</th>
    <th>Subject</th>
    <th>Message</th>
   
  
    <tr ng-repeat="message in uc.athleteCoachMessages.data" }}'">
      <td>{{message.date | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}</td>
      <td>{{message.from_name}}</td>
      <td>{{message.subject}}</td>
      <td>{{message.message}}</td>
     
    </tr>
  </table> -->

  <md-card class="parentMessages" data-ng-repeat="message in uc.athleteCoachMessages.data track by $index">
    <md-card-header ng-click="uc.setItem($index)">
      <!-- <md-card-avatar>
              <img src="img/logo.svg" />
          </md-card-avatar> -->
      <md-card-header-text>
        <span class="md-title" "subject">Subject: {{message.subject}} </span>
        <span class="md-subhead" "from">From: {{message.from_name}}</span>
        <span class="md-subhead">{{message.date | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}</span>
      </md-card-header-text>
    </md-card-header>
    <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
    <!-- <md-card-title>
          <md-card-title-text>
              <span class="md-headline">Subject: {{message.subject}}</span>
          </md-card-title-text>
      </md-card-title> -->
    <md-card-content ng-show="$index === uc.selected_item">
      <p>
        {{message.message}}
      </p>
    </md-card-content>
  </md-card>

  </div>