<header ng-include="'/views/partials/header.html'"></header>
<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

  <p id="pWelcome" class="lead">Logged In: {{uc.userObject.userName}}</p>
  <div class="leftColumn" layout="row">
    <div flex="15" class="sideBar">
   
    </div>
    <div flex="80" class="box1">


<md-card class="parentMessages" data-ng-repeat="message in uc.athleteCoachMessages.data track by $index" ng-click="uc.parentRead(message.message_id)">
  <md-card-header ng-click="uc.setItem($index)" ng-style = "message.parentRead != true && {'background-color':'#4EA8C2'}" >
    <!-- <md-card-avatar>
              <img src="img/logo.svg" />
          </md-card-avatar> -->
    <md-card-header-text>
    <span class="true" ng-show="message.parentRead != true">
      Subject: {{message.subject}} </span>
      <span class="md-body-1" "subject" ng-show="message.parentRead === true">Subject: {{message.subject}} </span>
      <span class="md-subhead" "from">From: {{message.from_name}}</span>
      <span class="md-subhead">{{message.date | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}</span>
    </md-card-header-text>
  </md-card-header>
  <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
  <!-- <md-card-title>
          <md-card-title-text>
              <span class="md-headline">Subject: {{message.subject}}</span>
          </md-card-title-text>
      </md-card-title> -->
  <md-card-content ng-show="$index === uc.selected_item">
    <p>
      <pre>{{message.message}}</pre>
    </p>
    <span ng-show="message.picture_url != ''">
      <img id="uploadImage" ng-src="{{message.picture_url}}" alt="image uploaded with filestack" title="{{message.picture_filename}}"> Picture is not blank - info parent/athlete.
    </span>
  </md-card-content>
</md-card>

</div>