<header ng-include="'/views/partials/header.html'"></header>
<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <p id="pWelcome" class="lead">Welcome, {{uc.userObject.userName}}!</p>
    <div class="leftColumn" layout="row">
        <div flex="15" class="sideBar">

        </div>
        <div flex="80" class="box1">




            <!-- <div>
                <div layout-gt-xl="row">
                    <span>
                        <md-input-container class="md-block" flex=50>
                            <label>Select date to see attendance:</label>
                            <md-select name="type" ng-model="dateFilter">
                                <md-option></md-option>
                                <md-option ng-repeat="date in uc.dates.data" value={{date.date}}>{{date.date | amDateFormat:'MMMM Do YYYY'}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex=50>
                            <label>Select a name to see attendance:</label>
                            <md-select name="type" ng-model="nameFilter">
                                <md-option></md-option>
                                <md-option ng-repeat="gymnast in uc.gymnasts.data" value={{gymnast.name}}>{{gymnast.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </span>
                </div> -->
                <!-- <label>Name only
                    <select ng-model="search.name" ng-repeat=>
                        <option value="{{}}}">{{}}</option>
                        <option value="Mary">Mary</option>
                        <option value="Mary">Mary</option>
                    </select>
                </label> -->
   <div layout = "row" ng-show="uc.userObject.user_role === 'gymnast'">
                <table class="teamTable">
                    <th class="teamTableHead">Date</th>
                    <th class="teamTableHead">Attendance Status</th>
                    <tr class="teamTableRows" ng-repeat="att in uc.gymnastAttendance.data | filter: dateFilter || undefined | filter: nameFilter: true || undefined">
                        <td class="teamTableData">{{att.date | amDateFormat:'MMMM Do YYYY'}}</td>
                        <td class="teamTableData">{{att.status}}</td>
                        </td>
                    </tr>
                    <!-- <li>{{gymnast.level}}</li> -->
                </table>
                </div>
                <div layout="row" ng-show="uc.userObject.user_role === 'parent'">
                    <table class="teamTable">
                        <th class="teamTableHead">Date</th>
                        <th class="teamTableHead">Child's Name</th>
                        <th class="teamTableHead">Attendance Status</th>       
                        <tr class="teamTableRows" ng-repeat="att in uc.childAttendance.data | filter: dateFilter || undefined | filter: nameFilter: true || undefined">
                            <td class="teamTableData">{{att.date | amDateFormat:'MMMM Do YYYY'}}</td>
                                                        <td class="teamTableData">{{att.name}}</td>

                            <td class="teamTableData">{{att.status}}</td>
                            </td>
                        </tr>
                        <!-- <li>{{gymnast.level}}</li> -->
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>