<header ng-include="'/views/partials/header.html'"></header>
<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <p id="pWelcome" class="lead">Welcome, {{uc.userObject.userName}}!</p>
    <div class="leftColumn" layout="row">
        <div flex="15" class="sideBar">

        </div>
        <div flex="80" class="box1">
            <div layout="row" ng-show="uc.userObject.user_role === 'gymnast'" id="coachViewAttendance">
                <table class="teamTable">
                    <th class="teamTableHead">Date</th>
                    <th class="teamTableHead">Attendance Status</th>
                    <tr class="teamTableRows" ng-repeat="att in uc.gymnastAttendance.data | filter: dateFilter || undefined | filter: nameFilter: true || undefined">
                        <td class="teamTableData">{{att.date | amDateFormat:'MMMM Do YYYY'}}</td>
                        <td class="teamTableData">{{att.status}}</td>
                        </td>
                    </tr>
                    <!-- <li>{{gymnast.level}}</li> -->
                </table>
            </div>
            <div layout="row" ng-show="uc.userObject.user_role === 'parent'" id="coachViewAttendance">
                <table class="teamTable">
                    <th class="teamTableHead">Date</th>
                    <th class="teamTableHead">Child's Name</th>
                    <th class="teamTableHead">Attendance Status</th>
                    <tr class="teamTableRows" ng-repeat="att in uc.childAttendance.data | filter: dateFilter || undefined | filter: nameFilter: true || undefined">
                        <td class="teamTableData">{{att.date | amDateFormat:'MMMM Do YYYY'}}</td>
                        <td class="teamTableData">{{att.name}}</td>

                        <td class="teamTableData">{{att.status}}</td>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>