<md-dialog class="regDialog" aria-label="Mango (Fruit)">
    <!-- <form ng-cloak name="reg.regForm"> -->
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>PAC CONNECT REGISTRATION</h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="reg.cancel()">
                <i class="material-icons" md-dialog-close aria-label="Close dialog">close</i>
            </md-button>
        </div>
    </md-toolbar>
<md-dialog-content>
    <form ng-submit="reg.registerUser()">
        <div>
            <label for="gym_id">What is your USA Gymnastics Member Club Id?</label>
            <input type="number" ng-model="reg.user.gym_id" />
        </div>
        <div>
            <label for="role">I am a:</label>
            <select ng-options="x for x in reg.roles" ng-change="reg.groupSelected(reg.user.user_role, reg.user.gym_id)" ng-model="reg.user.user_role"></select>
            </select>
        </div>
        <div ng-show="reg.user.user_role =='coach'">
            <!--start show coach form-->
            <div>
                <label for="name">Name:</label>
                <input type="name" ng-model="reg.user.name" />
            </div>
            <br>
            <div>
                <label for="username">Username:</label>
                <input type="text" ng-model="reg.user.username" />
            </div>
            <br>
            <div>
                <label for="password">Password:</label>
                <input type="password" ng-model="reg.user.password" />
            </div>
            <!-- <input class="btn btn-default" type="submit" name="submit" value="Register" /> -->
            <!-- <a href="#home">Already a user? Login here.</a> -->
        </div>
        <!--end show coach div-->
        <!--show parent div-->
        <div ng-show="reg.user.user_role =='parent'">
            <div>
                <label for="name">Your Name:</label>
                <input type="name" ng-model="reg.user.name" />
            </div>
            <br>
            <div>
                <label for="username">Username:</label>
                <input type="text" ng-model="reg.user.username" />
            </div>
            <br>
            <div>
                <label for="password">Password:</label>
                <input type="password" ng-model="reg.user.password" />
            </div>
            <div>
                <label for="coach">My child's coach is:</label>
                <select ng-model=reg.user.coach_id>
                    <option type="coach" value={{coach.id}} ng-repeat="coach in reg.coaches.data">{{coach.name}}</option>
                </select>
            </div>
            <!-- <input class="btn btn-default" type="submit" name="submit" value="Register" /> -->
            <!-- <a href="#home">Already a user? Login here.</a> -->

        </div>

        <!--end show parent div-->
        <div ng-show="reg.user.user_role =='gymnast'">
            <div>
                <label for="name">Your Name:</label>
                <input type="name" ng-model="reg.user.name" />
            </div>
            <br>
            <div>
                <label for="username">Username:</label>
                <input type="text" ng-model="reg.user.username" />
            </div>
            <br>
            <div>
                <label for="password">Password:</label>
                <input type="password" ng-model="reg.user.password" />
            </div>
            <div>
                <label for="parent">Registered parent/guardian name:</label>
                <select ng-model=reg.user.parent_id>
                    <option type="parent" value={ {parent.id}} ng-repeat="parent in reg.parents.data">{{parent.name}}</option>
                </select>
            </div>
            <div>
                <label for="coach1">My coach is:</label>
                <select ng-model=reg.user.coach_id>
                    <option type="coach1" value={{coach.id}} ng-repeat="coach in reg.coaches.data">{{coach.name}}</option>
                </select>
            </div>
        </div>
        </md-dialog-content>

        <md-dialog-actions class="regDiagAct" layout="row">
            <md-button ng-click="reg.cancel()">
                Cancel
            </md-button>
            <span flex></span>
            <!-- <input class="btn btn-default" type="submit" name="submit" value="submit" /> -->
            <md-button class="md-raised"type="submit" name="submit" value="submit">
                Register
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>