<div class="container">
    <div layout="row" class="homeHeader" layout-align="space-between center">

        <img src="images/smaller logo.png" id="theLogo">

        <form ng-submit="lc.login()" id="homeLogin">
            <div id="usernameInput">
                <label for="username">USERNAME:</label>
                <input type="text" ng-model="lc.user.username" />
            </div>

            <div id="passwordInput">
                <label for="password"> PASSWORD: </label>
                <input type="password" ng-model="lc.user.password" />
            </div>
            <div id="loginButton">
                <input class="btn btn-default" id="theButton" type="submit" name="submit" value="LOG IN" />
                <a href="#register">Register</a>
            </div>
        </form>
        </div>
<div class="container">
    <h1 class="lead">Register</h1>
    <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
       
        <form ng-submit="lc.registerUser()">
            <div>
                <label for="gym_id">What is your USA Gymnastics Member Club Id?</label>
                <input type="number" ng-model="lc.user.gym_id" />
            </div> 
            <div>
                <label for="role">I am a:</label>
                <select ng-options="x for x in lc.roles" ng-change="lc.groupSelected(lc.user.user_role, lc.user.gym_id)" ng-model="lc.user.user_role"></select>
                </select>
            </div>
            <div ng-show="lc.user.user_role =='coach'">
                <!--start show coach form-->
                <div>
                    <label for="name">Name:</label>
                    <input type="name" ng-model="lc.user.name" />
                </div>
                <br>
                <div>
                    <label for="username">Username:</label>
                    <input type="text" ng-model="lc.user.username" />
                </div>
                <br>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" ng-model="lc.user.password" />
                </div>
                <input class="btn btn-default" type="submit" name="submit" value="Register" />
                <!-- <a href="#home">Already a user? Login here.</a> -->
            </div>
            <!--end show coach div-->
            <!--show parent div-->
            <div ng-show="lc.user.user_role =='parent'">
                <div>
                    <label for="name">Your Name:</label>
                    <input type="name" ng-model="lc.user.name" />
                </div>
                <br>
                <div>
                    <label for="username">Username:</label>
                    <input type="text" ng-model="lc.user.username" />
                </div>
                <br>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" ng-model="lc.user.password" />
                </div>
                <div>
                    <label for="coach">My child's coach is:</label>
                    <select ng-model=lc.user.coach_id>
                        <option type="coach" value={{coach.id}} ng-repeat="coach in lc.coaches.data">{{coach.name}}</option>
                    </select>
                </div>
                <input class="btn btn-default" type="submit" name="submit" value="Register" />
                            <!-- <a href="#home">Already a user? Login here.</a> -->
    
            </div>
        
            <!--end show parent div-->
            <div ng-show="lc.user.user_role =='gymnast'">
                <div>
                    <label for="name">Your Name:</label>
                    <input type="name" ng-model="lc.user.name" />
                </div>
                <br>
                <div>
                    <label for="username">Username:</label>
                    <input type="text" ng-model="lc.user.username" />
                </div>
                <br>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" ng-model="lc.user.password" />
                </div>
                <div>
                    <label for="parent">Registered parent/guardian name:</label>
                    <select ng-model=lc.user.parent_id>
                        <option type="parent" value= {{parent.id}} ng-repeat="parent in lc.parents.data">{{parent.name}}</option>
                    </select>
                </div>
                <div>
                    <label for="coach1">My coach is:</label>
                    <select ng-model=lc.user.coach_id>
                        <option type="coach1" value={{coach.id}} ng-repeat="coach in lc.coaches.data">{{coach.name}}</option>
                    </select>
                </div>
                <input class="btn btn-default" type="submit" name="submit" value="Register" />
                <!-- <a href="#home">Already a user? Login here.</a> -->
            </div>
                            <a href="#home">Already a user? Login here.</a>

        </form>
        <!--end form for all-->
</div>