<div class="container">
    <h1 class="lead">Registration Step 1 of 2</h1>
    <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
        <form ng-submit="lc.registerStep1()">
            <div>
                <label for="role">I am a:</label>
                <select ng-model="lc.user.user_role" ng-options="x for x in lc.roles">
                </select>

            </div>
            <div>
                <label for="gym_id">USA Gymnastics Member Club Id:</label>
                <input type="password" ng-model="lc.user.gym_id" />
            </div>
            <input class="btn btn-default" type="submit" name="Continue" value="Continue" />
            <a href="#home">Already a user?  Login here.</a>
        </form>

</div>