<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
    <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>

    {{uc.allMessages.data}}
    
    <!-- <div ng-repeat = "message in uc.allMessages.data">
        <p>{{message.from_name}}</p>
        <p>{{message.to}}</p> -->
        
        <md-list flex>
            <!-- <md-subheader class="md-no-sticky">Messages</md-subheader> -->
            <md-list-item class="md-3-line" ng-repeat="message in uc.allMessages.data" ng-click="null">
                <p class="md-avatar"/>{{message.date}}</p>
                <div class="md-list-item-text" layout="column">
                    <h3>{{ message.from_name }}</h3>
                    <h4>{{ message.subject }}</h4>
                    <p>{{ message.message }}</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>




        <!-- <h4>
            <button class = "show1" ng-click="showMessages = ! showMessages">{{message.subject}}</button>
        </h4>
        <div class="messages" ng-show="showMessages">
            <md-list-item class="md-3-line md-long-text">
                <div class="md-list-item-text">
                    <h3>From: {{ message.user_id}}</h3>
                    <h3>Date Received: {{ message.timestamp}}</h3>
                    <p>
                        {{message.message}}
                    </p>
                </div>
            </md-list-item>
        </div>
    </li>
</ul> -->
</div>
