<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
    <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>

    {{uc.allMessages.data}}
    
    <div ng-repeat = "message in uc.allMessages.data">
        
        
    




        <h4>
            <button class = "show1" ng-click="showMessages = ! showMessages">{{message.subject}}</button>
        </h4>
        <div class="messages" ng-show="showMessages">
            <md-list-item class="md-3-line md-long-text">
                <div class="md-list-item-text">
                    <h3>From: {{ message.user_id}}</h3>
                    <h3>Date Received: {{ message.timestamp}}</h3>
                    <p>
                        {{message.message}}
                    </p>
                </div>
            </md-list-item>
        </div>
    </li>
</ul>
</div>
